body {
    background-image: url('../images/pink_rice.png');
    font-family: 'Satisfy', cursive;
}

#gifs-go-here {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.gifs {
    padding: 5px;
}

button {
    border-radius: 40%;
    padding: 10px;
    margin: 5px;
    font-family: 'Lacquer', sans-serif;
}

.centered {
    text-align: center;
    font-size: 20px;
}

#message {
    background: white;
    border: gray solid 1px;
    margin-top: 10px;
    font-size: 25px;
}

#pick-message {
    background: white;
    border: gray solid 1px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25px;
}